.header {
    background-color: rgb(109, 109, 245);
    border-bottom-width: 100px;
    margin-bottom: 10px;
    color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 42px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.home-button {
    background-color: rgba(173, 216, 230, 0);
    cursor: pointer;
    z-index: 110;
    margin-left: 20px;
    margin-right: 7px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.logout-button {
    background-color: rgba(255, 182, 193, 0);
    cursor: pointer;
    z-index: 110;
    color: white;
    text-decoration: none;
    margin-left: 4px;
    transition: 0.2s;
}

.home-button:hover,
.logout-button:hover {
    background-color: rgba(116, 114, 114, 0.548);
    padding: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 7px rgb(87, 86, 86);
}