.grid-request {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.request-box {
    background-color: white;
    position: relative;
    left: 10px;
    border-style: solid;
    border-color: rgb(129, 128, 128);
    height: 275px;
    width: 200px;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 1px 1px 5px rgb(185, 183, 183);
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 10px;
    margin-bottom: 6px;
}


.pfp {
    width: 200px;
    height: 170px;
    object-fit: cover;
}

.add-friend {
    color: white;
    background-color: rgb(109, 109, 245);
    border: none;
    border-radius:2px ;
    position: absolute;
    left: 8px;
    bottom: 13px;
    height: 30px;
    width: 100px;
    box-shadow: 1px 1px 5px rgb(172, 170, 170);
    cursor: pointer;
    transition: 0.3s;
}

.friend-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 6px;
    bottom: 74px;
}
.small-pfp {
    position: absolute;
    height: 23px;
    left: 7px;
    bottom: 49px;
    border-radius: 12px;
    display: inline-block;
}

.mutual-friends {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 53px;
    left: 38px;
    font-size: 12px;
    color: gray;

}

.add-friend:hover {
    color:rgb(109, 109, 245);
    background-color: white;
 }

.add-friend:active {
    opacity: 0.5;
}


.bottom-text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(160, 159, 159);
    font-size: 8px;
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
}

h4 {
margin-left: 50px;
}
